@media (min-width:768px) {
	.navbar-right .dropdown-menu {
		right: auto;
		left: 100%;
	}
}


@media (min-width: 1200px){
	.container {
		width: 1130px;
	}
}


@media (max-width: 992px) {
	.main-content {
		padding: 30px 10px;
	}

	.user-block {
		padding: 0 10px;
	}

	.user-tab .tab-content {
		padding: 10px;
	}
}

@media (min-width: 768px) {
	
}


@media (max-width: 768px) {
	.acount-img {
		text-align: center;
	}

	.wall-links a {
		width: 100%;
	}

	.selectors {
		width: 100%;
		margin: 10px 0;
		text-align: center;
	}

	.photo-form > div {
		margin-bottom: 10px;
	}

	.logo {
		margin: 10px auto;
		max-width: 100%;
	}
}

@media (max-width: 600px) {

	.footer-nav li {
		width: 100%;
		float: none;
	}

}