body {
	background: url("../images/bg.png");
}


.navbar-nav>li>a, .arhive-link, .logo {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

/*header*/

header .dropdown-submenu {
    position: relative;
}

header .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

header .dropdown-submenu:hover>.dropdown-menu, .dropdown-topmenu:hover>.dropdown-menu  {
    display: block;
}

/*.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}*/

header .dropdown-submenu.pull-left {
    float: none;
}

header .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

header .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #ffb678;
    background: rgba(39, 30, 28, 0.54);
}

header .dropdown-menu>li>a {
    text-align: left;
    width: 100%;
    padding: 10px 35px;
    border-bottom: 1px solid #626262;
    color: aliceblue;
    line-height: 30px;
    font-size: 18px;
}

header .dropdown-menu {
    margin: 0;
    padding: 0;
    border: 1px solid #626262;
    background: rgba(54, 21, 0, 0.92);
}

header .navbar-nav {
    padding-bottom: 5px;
}

.arhive-link {
    background: url(../images/arhiv.png) no-repeat center center;
    height: 60px;
    float: left;
    height: 60px;
    width: 132px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 30px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.arhive-link:hover {
    background: url(../images/arhiv.png) no-repeat center center rgba(242, 174, 138, 0.03);
        -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-line {
    width: 100%;

    background: url("../images/stmen.png");
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.56);
}

header .navbar-toggle {
    background-color: gray;
}

.logo {
    float: left;
    width: 350px;
    margin-left: 200px;
    margin-top: 30px;
}

.logo img {
    max-width: 100%;
}

.logo:hover {
    color: #ffb678;
    background: rgba(242, 174, 138, 0.03);
}

header .navbar-nav>li>a {
    line-height: 30px;
    font-size: 18px;
    padding: 10px 16px 11px 16px;
    color: aliceblue;

}

header .navbar-nav>li>a.active, .navbar-nav>li>a:hover {
    background-color: transparent;
    color: #ffb678;
}




/*header end*/