* {
    margin: 0;
    padding: 0;
    outline: none;
}
body {
    width: 100%;
    background: url("../images/bg.png");
}
html{
    margin: 0px auto;
    display: block;
}
a active {
    color: #fbd3a3
}
a {
text-decoration: none;   
}
#men_nav ul li a:hover {
    color: #ffb678;  
}
#men_nav .vipmenu li a:hover {
    color: #ffb678;
    background: rgba(39, 30, 28, 0.54);
}
#men_nav .viplmenu li a:hover {
    color: #ffb678;
    background: rgba(39, 30, 28, 0.54);
}
#kn_vir :hover {
    color: #ffb678;
}
body ul li a:hover {
    color: #ffb678;
}
#header :hover {
    color: #ffb678;
    background: rgba(255, 88, 0, 0.03);
}
#pading_alin {
    width: 1100px;
    margin: 0 auto;
}
#hat {
    margin-left: 52px;
    background: url(../images/begst.png);
    width: 980px;
    height: 35px;
    padding-left: 20px;
    box-shadow:  0 0 30px rgba(0, 0, 0, 0.56);
}
.begtext {
    width: 997px;
    margin-left: -19px;
    margin-top: 6px;
    color: aliceblue;
    font-size: 19px;
}

#header {
    list-style: none;
    height: 120px;
}
.arhiv {
    float: left;
    height: 60px;
    margin-left: 50px;
    margin-top: 30px;  
}

.projectrf {
    float: left;
    width: 350px;
    margin-left: 200px;
    margin-top: 30px;
}

.beg_stroka {
    font-size: 14px;
    width: 110px;
    height: 18px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    float: right;
    margin-right: 48px;
    padding-top: 2px;
    margin-top: 5px;
    list-style: none;
    color: rgba(235, 255, 217, 0.87);
    box-shadow:  0 0 20px rgba(0, 0, 0, 0.56);
}
#neck {
    width: 100%;
    height: 50px;
    background: url("../images/stmen.png");
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.56);
}
#men_nav ul {
    width: 1100px;
    height: 50px;
    margin-left: 5px;
    list-style: none;  
}
#men_nav ul li {
    position: relative;
}
#men_nav ul li a {
    float: left;
    width: auto;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    padding: 10px 17px 11px 17px;
    color: aliceblue; 
}
#men_nav ul li a:hover {
    color: #ffb678;  
}
#men_nav .vipmenu li a:hover {
    color: #ffb678;
    background: rgba(39, 30, 28, 0.54);
}
#men_nav .viplmenu li a:hover {
    color: #ffb678;
    background: rgba(39, 30, 28, 0.54);
}
#header :hover {
    color: #ffb678;
    background: rgba(242, 174, 138, 0.03);
}
body ul li a:hover {
    color: #ffb678;
}
#men_nav .vipmenu {
    position: absolute;
    text-align: left;
    top: 100%;
    width: 190px;
    height: 305px;
    border: 1px solid #626262;
    background: rgba(54, 21, 0, 0.92);
    margin-top: 50px;
    margin-left: 10px;
    display: none;
}
#men_nav li:hover .vipmenu {
    display: block;
    
}
#men_nav .vipmenu li a{
    text-align: left;
    width: 120px; 
    padding: 10px 35px;
    border-bottom: 1px solid #626262;   
}
#men_nav .vipmenu ul li a {
    width: 160px;
    
}
#men_nav .viplmenu {
    position: absolute;
    top: 100%;
    width: 220px;
    height: 155px;
    border: 1px solid #626262;
    background: rgba(54, 21, 0, 0.92);
    margin-top: 50px;
    margin-left: 200px;
    display: none;
}
#men_nav li:hover .viplmenu {
    display: block;
    
}
#men_nav .viplmenu li a{
    padding-left: 15px;
    text-align: left;
    width: 190px;
    border-bottom: 1px solid #666;
     
}
#men_nav ul ul li {
    position: relative;
}
#men_nav .vippodmenu {
    position: absolute;
    text-align: left;
    top: 100%;
    width: 231px;
    height: 305px;
    background: rgba(54, 21, 0, 0.92);
    border: 1px solid #626262;
    margin-top: 101px;
    margin-left: 100%;
    display: none;
}
#men_nav ul ul li:hover .vippodmenu {
    display: block;
    
}
#men_nav .vippodmenu li a{
    text-align: left; 
}
#men_nav .vippodmenu ul li a {
    width: 220px;
}
#men_nav .vippodmenupro {
    position: absolute;
    text-align: left;
    top: 100%;
    width: 231px;
    height: 100px;
    background: rgba(54, 21, 0, 0.92);
    border: 1px solid #626262;
    margin-top: 50px;
    margin-left: 100%;
    display: none;
}
#men_nav ul ul li:hover .vippodmenupro {
    display: block;
    
}
#men_nav .vippodmenupro li a{
    text-align: left; 
}
#men_nav .vippodmenupro ul li a {
    width: 220px;
}
/*Точки в меню*/
.tochmen {
    float: left;
    list-style: none;
    display: block;
    margin-top: 20px;
    margin-right: 17px;
    margin-left: 17px;
    height: 12px;
}
.tochmen{
    float: left;
    width: 12px;
    height: 12px;
    background: url(../images/mentoch.png) no-repeat;
    
}
/*Боковые точки в фоне*/
#tochk {
    width: 100%;
    height: 0px;
}
.tochka_vl {
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 10px;
}
.tochka_vp {
    margin-top: 10px;  
    float: right;
    width: 25px;
    height: 25px;
}
#tochk2 {
    width: 1100px;
    height: 30px;
}
#tochka_nl {
    width: 25px;
    height: 25px;
}
.tochka_nl {
    float: left;
    width: 25px;
    height: 25px;
    margin-top: -8px;
}
#tochka_np {
    float: right;
    width: 25px;
    height: 25px;
}
.tochka_np {
    float: right;
    width: 25px;
    height: 25px;
    margin-top: -8px;
}
#bock {
    width: 1100px;
    height: 100%;  
    border-radius: 60px;
    border: 1px solid rgba(177, 119, 92, 0.57);
    box-shadow:  0 0 10px 1px rgba(0, 0, 0, 0.56);
}
.zagolovok {
    text-align: center;
    font-size: 22px;
    color: aliceblue;
    padding-top: 25px;
    list-style: none;
    }
.linia {
    width: 1000px;
    height: 25px;
    margin-left: 50px;
}
#stena {
    margin-left: 50px;
    width: 1000px;
    height: 850px;
}
table {
    margin-top: 20px;
    margin-left: 80px; 
    width: 850px;
    font-size: 18px;
    color: aliceblue;
}
#stena table tr td,th {
    padding-top: 15px;
    height: 30px;
    border-bottom: 1px solid #b1876c;
}
#stena table tr td {
    width: 210px;
    float: right;
    margin-right: 90px;
}
#stena table tr th {
    width: 900px;
    text-align: left;
}
#feet {
    width: 1100px;
    height: 50px;
    background: url(../images/nizst.png) no-repeat;
    box-shadow:  0 0 15px rgba(0, 0, 0, 0.56);
}

#feel_text ul {
    width: 1100px;
    height: 51px;
    list-style: none; 
}
.feel_text ul li a {
    float: left;
    line-height: 14px;
    font-size: 18px;
    margin-left: 114px;
    margin-top: 18px;
    color: aliceblue; 
}

.clr {
    clear: both;
}
#foot {
    text-align: center;
    margin-left: 50px;
    margin-top: 25px;
    width: 1000px;
    height: 20px;
    font-size: 14px;
    color: #d0b394;
}#foot a {
    width: 1100px;
    height: 20px;
    color: #ecb275;
}